.Cart-wrapper {
  margin-top: .85rem;
}

/* header */
.Cart-head {
  height: .85rem;
  width: 6.06rem;
  font-size: .265rem;
  background-color: #f2f2f2;
  color: rgb(102, 102, 102);
  text-align: center;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .17rem;
  z-index: 10;

}

.Cart-head img {
  width: .5rem;
  height: .5rem;
}

.Cart-head img:first-child {
  width: .44rem;
  height: .44rem;
}

/* Cart section 登录*/

.Cart-section-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: .91rem;
  line-height: .91rem;
  padding: 0 .3rem;
  font-size: .29rem;
  position: relative;
}

.Cart-login {
  font-size: .22rem;
  margin-right: .25rem;
  color: rgba(0, 0, 0, .54);
}

.Cart-login::after{
  content: "";
  width: .15rem;
  height: .15rem;
  border-left: 1px solid currentColor;
  border-top: 1px solid currentColor;
  position: absolute;
  right: .32rem;
  top: 50%;
  transform: translate3d(0, -50%, 0) rotate(135deg);
}

/* 购物车是空的*/

.Cart-section-articlebox {
  height: 1.1rem;
  line-height: 1.1rem;
  display: flex;
  justify-content: center;
  background-color: #ebebeb;
  font-size: .3rem;
}

.Cart-section-car {
  display: flex;
  font-size: .2rem;
  color: rgba(0, 0, 0, .27);
}

.Cart-nullImg {
  width: .8rem;
  height: .8rem;
  background: center 0 no-repeat;
  background-size: .7rem .7rem;
  background-position: bottom;
  margin: auto .1rem ;
}

.Cart-seeSomething {
  border: 1px solid rgba(0, 0, 0, .15);
  color: rgba(0, 0, 0, .87);
  height: .35rem;
  line-height: .35rem;
  font-size: .22rem;
  padding: .02rem .25rem;
  margin:auto .2rem;
}

/* 猜你喜欢的内容*/

.Cart-guess-box {
  width: 6.4rem;
}

.Cart-guess-img, .Cart-guess-img img{
  width: 6.4rem;
  height: 1rem;
}

.Cart-guess-product-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.Cart-guess-product-wrapper {
  width: 3.175rem;
  margin-top: .1rem;
}

.Cart-guess-product-wrapper:nth-of-type(2n) {
  margin-left: .05rem;
}

.Cart-guess-product-img {

}
.Cart-guess-product-img img {
  width: 3.175rem;
}

.Cart-guess-product-name {
  font-size: .26rem;
  padding: 0 .2rem;
}

.Cart-guess-product-price {
  font-size: .32rem;
  color: #ff6700;
  padding: 0 .2rem .1rem;
}

.Cart-guess-product-price del {
  font-size: .24rem;
  color: rgba(0, 0, 0, .54);
}